@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');


.menu {
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.story-link {
    padding: 5px;
    display: block;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 1.25em;
}

.story-link a {
    text-decoration: none;
    color: black;
}

.story-link a:hover {
    text-decoration: underline;
}

.story-link a:visited {
    color: black;
}

h1 {
    font-size: 1.5em;
}

.title {
    margin-top: 0px;
}
