@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.stories-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.menu {
    background-color: white;
    margin: 20px 20px 20px 20px;
}


.story-link {
    padding-right: 10px;
}

.story-link a {
    text-decoration: none;
}

.story-link a:hover {
    text-decoration: underline;
}

.story-link a:visited {
    color: black;
}

h1 {
    font-size: 1.5em;
}
