.videocontainer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

h1 {
    font-size: 1.5em;
}

iframe {
    align-self: center;
}

.toggle {
    width: 175px;
    align-self: center;
    margin: 10px 0px 10px 0px;
}

.biography, .transcript, .teachers-notes {
    padding: 0px 50px 0px 50px;
}