.footer {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

#clio-ident {
    margin-right: 10px
}

#cass-ident {
    margin-left: 10px
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:visited {
    color: white;
}
